//
// Color system
//
$white:    #fff;
$black:    #000;
$deepblue: #000030;
$yellow: #fea411;
$lmu-green:   #00883a;
$green: #006c66;
$darkgreen: #005555;
$darkgrey: #777777;
$grey: #5b5b5c;
$lightgrey: #eeeeee;
$lightgreen: #c6d325;
$darkblue: #29485d;
$lightblue: #00b1ea;
$orange: #ef7c00;

$primary:       $lmu-green;
$secondary:     $grey;
$success:       $green;
$info:          $lightgreen;
$warning:       $yellow;
$danger:        $orange;
$light:         $lightgrey;
$dark:          $darkgrey;


.deepblue {
    color: $deepblue;
}

.lmu-green {
    color: $lmu-green;
}

.yellow {
    color: $yellow;
}


.darkgreen {
    color: $darkgreen;
}

.green {
    color: $green;
}

.lightgreen {
    color: $lightgreen;
}

.orange {
    color: $orange;
}
